*,
*::before,
*::after {
    box-sizing: border-box;
}


/* PLEASE NOTE, I LIKE TO STYLE EVERYTHING POSSIBLE WITH CLASS */


/* You can change these for your own properties */

:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    /* ff = font style */
    --ff-secondary: "Source Code Pro", monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    /* fw = font-weight */
    --clr-light: #fff;
    --clr-light-cyan: #033b44;
    /* clr = colour */
    --clr-dark-cyan: #03191d;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    /* fs = fontsize */
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
    /* bs=box shadow */
}

@media (min-width: 800px) {
     :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75;
        --fs-h3: 1.25rem;
        --fs-body: 0.9rem;
    }
}


/* general styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light-cyan);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

section {
    padding: 4em 1.5em 4em 1.5em;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


/* external site button */

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: var(--clr-dark-cyan);
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-top: 4em;
    margin-bottom: 0;
}

.skills {
    margin-bottom: 3.5em;
}

.btn:hover {
    transform: scale(1.125);
}


/* Typographic styles */

h1 {
    line-height: 1;
    margin: 0;
    font-size: var(--fs-h1);
}

h2 {
    line-height: 1;
    margin: 0;
    font-size: var(--fs-h2);
}

h3 {
    line-height: 1;
    margin: 0;
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-dark-cyan);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__title--about {
    font-size: xx-large;
}

.section__title--projects {
    font-size: xx-large;
}

.section__subtitle--projects {
    color: var(--clr-dark-cyan);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    font-size: x-large;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    position: fixed;
    background: var(--clr-dark-cyan);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 100;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .menu {
    transform: rotate(0.625turn);
}

.nav-open .menu::before {
    transform: rotate(90deg) translate(-6px);
}

.nav-open .menu::after {
    opacity: 0;
}

.menu {
    display: block;
    position: relative;
}

.menu,
.menu::before,
.menu::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.menu::before,
.menu::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.menu::before {
    top: 6px;
}

.menu::after {
    bottom: 6px;
}


/* introduction section */

.introduction {
    position: relative;
}

.introduction__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .introduction {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .introduction__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100%+1.5em);
    }
}

.about-me__body {
    max-width: 800px;
}


/* My skills section */

.my-skills {
    background-color: var(--clr-dark);
    background-image: url(https://www.ionos.com/digitalguide/fileadmin/DigitalGuide/Teaser/web-development-t.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--skills {
    color: var(--clr-accent);
    font-size: xx-large;
    position: relative;
}

.section__title--skills::after {
    content: "";
    display: block;
    width: 4em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.25;
}

.skill {
    max-width: 450px;
    margin: 0px auto;
}

@media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .skill+.skill {
        margin-left: 2em;
        margin-right: 4em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 2em;
    }
    .section__title--about {
        grid-area: title;
    }
    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100%+2em);
        padding-left: 1em;
        padding-right: calc(200px+3em);
    }
}


/* My projects */

.my-projects {
    background-color: var(--clr-light-cyan);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 900px;
    margin: 0 auto;
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1), opacity 200ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: 0.8;
}


/* footer section */

.footer {
    background: var(--clr-dark-cyan);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.4;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0.5em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.6em;
}

.social-list__link {
    padding: 0.5em;
}


/* For each Portfolio project */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000;
    margin: 0 0.5em;
}

.portfolio-item-individual p {
    max-width: 600;
    margin-left: auto;
    margin-right: auto;
}

.copy-right {
    margin-top: 0.8em;
    font-size: small;
}

.last-update {
    margin-top: 0.5em;
    font-size: x-small;
}


/* For the semitone difference portfolio */

#container {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    align-content: center;
    background-color: var(--clr-dark-cyan);
    max-width: 600px;
    border-radius: 0.5em;
    margin: auto;
    /* z-index: 2; */
    padding-top: 1.5em;
    margin-bottom: 10em;
    height: 400px;
    border: 4px double var(--clr-accent);
}

#container {
    transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1), opacity 200ms linear;
}

#container:hover,
#container:focus #container {
    transform: scale(1.2);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#notes {
    background-color: var(--clr-light);
    color: rgb(165, 112, 14);
    position: relative;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 90px;
    width: initial;
    border-radius: 1em;
}

.feedback-section {
    height: 20%;
    position: relative;
    text-align: center;
    align-content: center;
    justify-content: center;
    z-index: 99;
    font-size: 14px;
    letter-spacing: 2px;
    width: inherit;
    animation: feedback 0.7s ease-in-out infinite normal;
    animation-duration: 0.7s;
}

@keyframes feedback {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

#keyboard {
    height: 120px;
    margin-top: 0em;
    margin-bottom: 3em;
}

button {
    margin-top: 0em;
    margin-bottom: 0.5em;
    width: 11em;
    height: 2.5em;
    background-color: var(--clr-accent);
    border-radius: 2em;
    transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1), opacity 200ms linear;
}

button+button {
    margin-left: 1.5em;
}

button:hover,
button:focus button {
    transform: scale(1.2);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    opacity: 0.8;
}

p {
    z-index: 4;
}

.input-answer {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    align-content: center;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
}
